apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "<registry url here>",
      "username": <username>,
      "password": <password>
    }
