# See: https://registry.terraform.io/providers/goharbor/harbor/latest/docs
apiVersion: v1
kind: Secret
metadata:
  name: harbor-credentials
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "url": "https://harbor.internal",
      "username": "admin",
      "password": "password",
      
      "robot_prefix": "robot",
      "api_version": "2",
      "bearer_token": "ey...",
      "session_id": "...",
      "insecure": "false"
    }
